* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --laranja: #f78b00;
    --azul: #00285f;
    --cinza: #ededed
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
header {
    max-width: 100%;
    min-width: 200px;
    height: 500px;
    background-color: var(--laranja);
}
.content {
    max-width: 1000px;
    min-width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.brand {
    font-size: 24px;
    color: var(--azul);
}

nav ul {
    display: flex;
    flex-direction: row;
}
nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
nav ul li a {
    color: var(--azul);

}
nav ul li a:hover {
    color: #00285f83
}
nav ul button {
    border:  1px solid var(--azul);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px ;
    font-weight: bold;
    border-radius: 4px;
}
nav ul button:hover {
    background-color: var(--azul);
    color: white;
    transition: 600ms;
}
.content .header {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background:var(--azul) ;
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);

    position: relative;
    z-index: 10;
    padding: 10px;
}
.header img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}
.header .text {
    position: absolute;
    bottom: 30%;
    left: 15%;
}

.header .text h2 {
    text-align: right;
    color: white;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: 0.5s;
}
.header .text p {
    text-align: right;
    max-width: 280px;
    color: white;
    transform: translateX(-20px);
    transition: 0.5s;
}

     /* catalog */
section .conteudo {
    width: 100vw;
    padding: 100px;
}
section .filtros {
    width: 990px;
    height: 150px;
    background: var(--cinza);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    text-indent: 30px;
    
}
.btn-search {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--azul);
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
}
.btn-search:hover {
    background: #dedede;
    color: var(--azul);
}
.title-repper {
    margin-top: 100px;
    padding-bottom:50px ;
    margin-left: 90px;
}
section .card-wrepper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top:50px ;
    margin: 0 auto;
}
.card {
    height: 400px;
    background: var(--cinza);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-conteudo {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.card img {
    width: 85%;
}
.card h3 {
    font-size: 30px;
}
.card p {
    font-style: italic;
}
.card button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: var(--azul);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 30px;
}
.card button:hover {
    background: #dedede;
    color: var(--azul);
}

/*about */

.tittle-about {
    padding-left: 180px;
    margin-bottom: 20px;
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}
.about-conteudo {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #dedede3b;
    margin: 0 auto;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #00000069;
    border-radius: 8px;
}
.right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10%;
}
.right h3 {
    text-align: right;
    width: 90%;
    margin-bottom: 20px;
}
.right p {
    max-width: 90%;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

/*responsivo*/ 

@media (max-width: 576px) {
    nav ul li {
        display: none;
    }
    .brand {
        font-size: 30px;
    }

    .catalogo .conteudo {
        padding: 0px;
    }

    .header  img{
        width: 70%;
        position: absolute;
        right: 16%;
        top: 25%;
    }
    .header .text {
        position: absolute;
        bottom: 17%;
        left: 15%;
    }
    .filtros {
        max-width: 400px;
        min-width: 240px;
    }
    .search {
        max-width: 240px;
    }
    .btn-search {
        width: 90px;
    }
    .card-wrepper {
        padding: 10px;
    }
    .card img {
        width: 70%;
    }
    .tittle-about  {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -150px;
        padding-top: 10px;
    }
    .left  {
        display: none;
    }
    .right {
        width: 100%;
    }
    .right h3 {
        text-align: left;
    }
    .right p {
        width: 100%;
        text-align: left;
    }

}

@media (max-width: 960px) {
    .header .text {
        position: absolute;
        top: 160px;
        left: 40px;
        font-size: 20px;
    }
    .header img {
        width: 60%;
        position: absolute;
        top: 25%;
        right: -5px;
    }
    .conteudo .title-repper {
        margin: 0px 0px;
        margin-top: 40px;
        display: block;
        float: left;
    }
    .conteudo .filtros {
        width: 100%;
    }
    .card-wrepper #ultimo-card{
        display: none;
    }
    .about-conteudo .left {
        display: none;        

    }
    .about-conteudo .right {       
        width: 100%;

    }
    .about-conteudo .right h3 {
        text-align: center;
    }
    .about-conteudo .right p {
        text-indent: 29px;
        text-align: left;
        padding-left: 100px;
        font-size: 20px;
        line-height: 20px;
    }
}
@media ( max-width: 414px) and (min-width:360px) {
    .header .text {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        padding: 0px;
    }
    .header .text h2 {
        display: flex;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        align-items: center;
        position: relative;
        
    }
    .header .text p {
        font-size: 20px;
        width: 300px;
        text-align: center;
        position: absolute;
        right: 60px;
    }
    .header img {
        position: absolute;
        top: 50%;
    }
    .header #img {
        width: 100%;
    }
    .conteudo .title-repper {
        display: block;
        padding-top: 90px;    }
}
@media (max-width: 720px) and (min-width: 540px) {
    .header .text {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        padding: 0px;
    }
    .header .text h2 {
        display: flex;
        font-size: 1.2em;
        width: 100%;  
        position: relative;   
        top: -30px;
        left: -30px;
        justify-content: center;
    }
    .header .text p {
        display: flex;
        font-size: 22px;
        justify-items: center;
        width: 400px;
        text-align: center;
        position: absolute;
        right: 140px;
    }
    .header img {
        position: absolute;
        top: 39%;
        right: 50px;
        width: 80%;
    }
    .card-wrepper .card img {
        width: 50%;
    }
    .card-wrepper .card button {
        width: 70%;
    }
    .about-conteudo .right p{
        padding: 5px;
        line-height: 25px;
    }
}
@media (max-width: 457px) and (min-width: 414px){
    .header .text {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        padding: 0px;
    }
    .header .text h2 {
        display: flex;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        align-items: center;
        position: relative;        
    }
    .header .text p {
        font-size: 20px;
        width: 300px;
        text-align: center;
        position: absolute;
        right: 60px;
    }
    .header img {
        position: absolute;
        top: 50%;
    }
    .header #img {
        width: 100%;
    }
    .about-conteudo .right p{
        padding: 5px;
        line-height: 25px;
    }
    .conteudo .title-repper {
        display: block;
        padding-top: 90px;}
}

@media (min-width: 755px) and (max-width:768px){
    .card-wrepper .card img {
        width: 50%;
    }
    .card-wrepper .card button {
        width: 70%;
    }
    .about .right {
        width: 100%;
    }

    .about .right {
        width: 100%;
    }
    .about-conteudo .right p {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 30px;
        padding-left: 0px;
    }
    .header img {
        width: 55%;
    } 
}
@media (max-width: 300px) {
    .content .header {
        width: 200px;
        
    }
    .header .text {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        padding: 0px;
    }
    .header .text h2 {
        display: flex;
        font-size: 1em;
        width: 250px;
        margin:0px;
        position: relative;        
    }
    .header .text p {
        font-size: 20px;
        width: 300px;
        text-align: center;
        position: absolute;
        right: 60px;
    }
    .header {
        padding: 0px;
    }
    .header img {
        position: absolute;
        top: 50%;
        left: 10px;
        width: 10%;
    }
    .about-conteudo .right p{
        padding: 5px;
        line-height: 25px;
    }
}
@media (max-width:539px)  and (min-width: 458px) {
    .header .text {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        padding: 0px;
    }
    .header .text h2 {
        display: flex;
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        align-items: center;
        position: relative;        
    }
    .header .text p {
        font-size: 20px;
        width: 300px;
        text-align: center;
        position: absolute;
        right: 60px;
    }
    .header img {
        position: absolute;
        top: 45%;
        right: 25px;
    }
    .header #img {
        width: 90%;    
    }
    .about-conteudo .right p{
        padding: 5px;
        line-height: 25px;
    }
    .conteudo .title-repper {
        display: block;
        padding-top: 90px;
    }
}

@media (min-width:539px) and (max-width: 570px){
    .catalogo .conteudo {
        display: block;
        
    }
    .conteudo .title-repper {
        display: block;
        align-items: flex-start;
        padding-right: 20px;
        padding-top: 90px;
        
    }
    .filtros {
        display: block;
    }
}
@media (max-width: 1024px) {
    #ultimo-card2 {
        display: none;
        
    }
    .filtros {
        position: relative;
        left: -80px;
        width: 600px;
    }
    .filtros input {
            width: 500px;
            margin: 0px;
        }
        .conteudo .title-repper {
            display: block;
            align-items: flex-start;
            
        }
}